.cart-item {
  margin: 5px;
  height: 200px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .btn {
    display: inline-block;
    position: relative;
    position: absolute;
    bottom: 10px;
    //left: 0px;
    right: 5px;
  }
}
