.list-item {
  margin-bottom: 15px;

  .add-to-cart {
    text-align: end;
  }
  .btn {
    display:inline-block;
    position: relative;
    position: absolute;
    bottom: 30px;
    left: 5px;
    right: 0;

  }
}
